<!DOCTYPE html>
<html>
<head>
<title>Sch&uuml;ler in K&ouml;ln</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="leaflet-0.7.3/Control.Loading.css" />
<link rel="stylesheet" href="leaflet-0.7.3/leaflet.viewcenter.css" />
<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">

<style type="text/css">
body {
	padding-top: 50px;
	margin: 0;
}

html, body, #map {
	height: 100%;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

#btn-spin {
	position: absolute;
	left: 200px;
	z-index: 10;
	font-size: 1.5em;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.pie-legend {
	text-align: left;
	line-height: 18px;
	color: #555;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.pie-legend span {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 1.0;
}
</style>
<script src="connection.js" type="text/javascript"></script>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
<script src="leaflet-0.7.3/leaflet.js" type="text/javascript"></script>
<script src="leaflet-0.7.3/Control.Loading.js" type="text/javascript"></script>
<script src="leaflet-0.7.3/leaflet.viewcenter.js" type="text/javascript"></script>
<script src="leaflet-0.7.3/leaflet.ajax.js" type="text/javascript"></script>
<script src="leaflet-0.7.3/leaflet.spin.js"></script>
<script src="leaflet-0.7.3/spin.js"></script>
<script src="chart.js.1.0.1-beta.4/Chart.min.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div id="divNavbarArea" class="navbar navbar-inverse navbar-fixed-top"
		role="navigation"></div>
	<script type="text/javascript">
		$("#divNavbarArea").load("navbar.html");
	</script>
	<div id="map"></div>
	<script>
		zoom = 12;
		var zoomSpielplatzLayerTo = 11;
		// create map
		var map = L.map('map').setView(center, zoom);

		// add view Center
		var viewCenter = new L.Control.ViewCenter();
		map.addControl(viewCenter);

		// add loading control
		var loadingControl = L.Control.loading({
			separate : true
		});
		map.addControl(loadingControl);

		// infobox rechts oben	
		var info = L.control();

		info.onAdd = function(map) {
			// create a div with a class "info"
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		var piedata;
		var pieLegend;
		function callPieChart(stadtteilnr) {
			$.getJSON("/odk/dataservice/bevoelkerung/altersgruppen/stadtteile/" + stadtteilnr,
							function(piedata) {
								var ctx = document.getElementById("myPieChart")
										.getContext("2d");
								var properties = {
									//Boolean - Whether we should show a stroke on each segment
									segmentShowStroke : true,
									//String - The colour of each segment stroke
									segmentStrokeColor : "#fff",
									//Number - The width of each segment stroke
									segmentStrokeWidth : 0,
									//Number - The percentage of the chart that we cut out of the middle
									percentageInnerCutout : 0, // This is 0 for Pie charts
									//Number - Amount of animation steps
									animationSteps : 100,
									//String - Animation easing effect
									animationEasing : "easeOutBounce",
									//Boolean - Whether we animate the rotation of the Doughnut
									animateRotate : false,
									//Boolean - Whether we animate scaling the Doughnut from the centre
									animateScale : false,
									//String - A legend template
									legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
								};
								var myPieChart = new Chart(ctx).Pie(piedata,
										properties);
								document.getElementById("pieLegend").innerHTML = myPieChart
										.generateLegend();
							});
		};
		
		var stadtteilname;
		var radarData;
		var radarLegend;
		function callRadarChart(stadtteilnr) {
			$.getJSON("/odk/dataservice/stadtteil/schueler/chart/radar/" + stadtteilnr,
							function(radarData) {
								var ctx = document.getElementById("myRadarChart").getContext("2d");
								var properties = {
								    //Boolean - Whether to show lines for each scale point
								    scaleShowLine : true,
								    //Boolean - Whether we show the angle lines out of the radar
								    angleShowLineOut : true,
								    //Boolean - Whether to show labels on the scale
								    scaleShowLabels : false,
								    // Boolean - Whether the scale should begin at zero
								    scaleBeginAtZero : true,
								    //String - Colour of the angle line
								    angleLineColor : "rgba(0,0,0,.1)",
								    //Number - Pixel width of the angle line
								    angleLineWidth : 1,
								    //String - Point label font declaration
								    pointLabelFontFamily : "'Arial'",
								    //String - Point label font weight
								    pointLabelFontStyle : "normal",
								    //Number - Point label font size in pixels
								    pointLabelFontSize : 10,
								    //String - Point label font colour
								    pointLabelFontColor : "#666",
								    //Boolean - Whether to show a dot for each point
								    pointDot : true,
								    //Number - Radius of each point dot in pixels
								    pointDotRadius : 3,
								    //Number - Pixel width of point dot stroke
								    pointDotStrokeWidth : 1,
								    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
								    pointHitDetectionRadius : 20,
								    //Boolean - Whether to show a stroke for datasets
								    datasetStroke : true,
								    //Number - Pixel width of dataset stroke
								    datasetStrokeWidth : 2,
								    //Boolean - Whether to fill the dataset with a colour
								    datasetFill : true,
								    //String - A legend template
								    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
								};
								var myRadarChart = new Chart(ctx).Radar(radarData,properties);
								document.getElementById("radarLegend").innerHTML = myRadarChart.generateLegend();
								document.getElementById("radarTitle").innerHTML = "<h2>" + stadtteilname + "</h2>";
							});
		};
		
		// method that we will use to update the control based on feature properties passed
		info.update = function(properties) {
			if (properties) {
				infoboxContent = '<h2>' + properties.name + '</h2>'
				+ '<table>'
				+ '<tr><th></th><th>Sch&uuml;ler</th><th>Schulen</th></tr>'
				+ '<tr><th>Grundschule</th>'
				+ '<td>' + properties.grundschule + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>Hauptschule</th>'
				+ '<td>' + properties.hauptschule + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>Realschule</th>'
				+ '<td>' + properties.realschule + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>Gymnasium</th>'
				+ '<td>' + properties.gymnasium + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>Gesamtschule</th>'
				+ '<td>' + properties.gesamtschule + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>F&ouml;rderschle</th>'
				+ '<td>' + properties.foerderschule + '</td><td>ZZZ</td></tr>'
				+ '<tr><th>Gesamt</th>'
				+ '<td>' + properties.allgemeinbildende_schulen + '</td><td>ZZZ</td></tr>'
				+ '</table>';
			} else {
				infoboxContent = '<div id=\"radarTitle\"></div>'
				+ '<canvas id=\"myRadarChart\" width=\"400\" height=\"200\"></canvas>'
				+ '<div id=\"radarLegend\"></div>';
			}
			this._div.innerHTML = '<h1>' + document.title + '</h1>'
					+ infoboxContent 

		};
		info.addTo(map);

		var mapBox = L.tileLayer(
				'http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
					maxZoom : maxZoom,
					attribution : attribution,
					id : 'examples.map-20v6611k'
				});
		map.addLayer(mapBox);

		// get color depending on population density value
		function getColor(d) {
			return d > 6000 ? '#800026' : d > 5000 ? '#BD0026'
					: d > 4000 ? '#E31A1C' : d > 3000 ? '#FC4E2A'
							: d > 2000 ? '#FD8D3C' : d > 1000 ? '#FEB24C'
									: d > 0 ? '#FED976' : '#FFFFFF';
		}

		function style(feature) {
			return {
				weight : 2,
				opacity : 1,
				color : 'white',
				dashArray : '3',
				fillOpacity : 0.7,
				fillColor : getColor(feature.properties.allgemeinbildende_schulen)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight : 5,
				color : '#666',
				dashArray : '',
				fillOpacity : 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var stadtteileKoelnLayer;

		function resetHighlight(e) {
			stadtteileKoelnLayer.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			callPieChart(e.target.feature.properties.ref);
			callRadarChart(e.target.feature.properties.ref);
			stadtteilname = e.target.feature.properties.name;
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover : highlightFeature,
				mouseout : resetHighlight,
				click : zoomToFeature
			});

			var popupContent = "<p>Altersstruktur "
					+ feature.properties.name
					+ "</p>"
					+ "<canvas id=\"myPieChart\" width=\"150\" height=\"100\"></canvas>"
					+ "<div id=\"pieLegend\"></div>";
			layer.bindPopup(popupContent);
		}
		// define
		function getAdministrativLayer() {
			return "/odk/dataservice/stadtteil/schueler/koeln"
		};
		// load Layer
		stadtteileKoelnLayer = new L.GeoJSON.AJAX(getAdministrativLayer(), {
			style : style,
			onEachFeature : onEachFeature
		});

		map.addLayer(stadtteileKoelnLayer);

		var legend = L.control({
			position : 'bottomright'
		});

		legend.onAdd = function(map) {

			var div = L.DomUtil.create('div', 'info legend'), grades = [ 0, 0,
					1000, 2000, 3000, 4000, 5000, 6000 ], labels = [], from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];
				if (i == 0) {
					labels.push('<i style="background:' + getColor(from)
							+ '"></i> ' + from + (to ? '&ndash;' + to : ''));
				} else {
					labels.push('<i style="background:' + getColor(from + 1)
							+ '"></i> ' + from + (to ? '&ndash;' + to : '+'));
				}
			}
			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);

		var scale = L.control.scale();
		map.addControl(scale);
	</script>
</body>
</html>
